{% extends "App_gym/inicio.html" %}

{% load static %}  

{% block titulo %}
<h1 class="mb-5"></h1>


{% endblock %}

{% block cambia %}

<h1> formulario de Ingreso</h1>


    <form action="{% url "login"  %}" method="POST"> {% csrf_token %}

    <table>

    {{ form.as_table }}

    </table> 
    
    <input type="submit" value="iniciar">
    

    </form>
    

    {{ mensaje }}

       
{% endblock %}

{% block parrafo %} ingresa tu usuario y contraseña para poder visitar nuetra pagina!{% endblock %}









