<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "App_gym/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/style.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/responsive.css" %}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="{% url "inicio" %}">Menu </a></h2>
                            
                            {% block titulo %}  

                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-10">
                    
                        <div class="menu">
                            <ul>
                                <li class="active"><a href="{% url "gimnasio" %}">Gimnasio</a></li>
                                <li><a href="{% url "profesores" %}">profesores</a></li>
                                <li><a href="#">Acerca de mi</a></li>
                                <li><a href="{% url "register" %}">registrarse</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url "logout" %}">Cerrar sesion</a></li> <p> Hola {{ user.username }}</p>
                                <img src="{{ imagen }}" alt="">
                                {% else %}
                                
                                <li><a href="{% url "login" %}">Iniciar sesion</a></li>
                                {% endif %}
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block contenido_cambia %}

            {% endblock %}
        <section class="bg-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-text">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                            <div class="col-md-12">
                                <div class="single-post-big">
                                    <div class="big-image">
                                        <img src="{% static "App_gym/img/blog-2.jpg" %}" alt="">
                                    </div>
                                    <div class="big-text">
                                        <h3>{% block cambia %} Bienvenido a tu Gimnasio {% endblock %}</h3>
                                        <p>Ingresa para poder observar nuestras sedes principales en todo el pais</p>
                                        <h4><span class="date">25 February 2017</span><span class="author">Posted By: <span class="author-name">Kabbo Liate</span></span>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image2.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image3.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image4.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image5.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image6.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image7.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image8.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="img/post-image9.jpg" alt="">
                                    <h3><a href="#">Post Title Goes Here.</a></h3>
                                    <h4><span>Posted By: <span class="author-name">Kabbo Liate</span></span>
                                    </h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dotempor incididunt ut. labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                                    <h4><span>25 February 2017</span></h4>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="pegination">
                <!--
                <ul>
                    <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
-->

                <div class="nav-links">
                    <span class="page-numbers current">1</span>
                    <a class="page-numbers" href="#">2</a>
                    <a class="page-numbers" href="#">3</a>
                    <a class="page-numbers" href="#">4</a>
                    <a class="page-numbers" href="#">5</a>
                    <a class="page-numbers" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bg">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="footer-menu">
                                        <ul>
                                            <li class="active"><a href="#">Home</a></li>
                                            <li><a href="#">lifestyle</a></li>
                                            <li><a href="#">Food</a></li>
                                            <li><a href="#">Nature</a></li>
                                            <li><a href="#">photography</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="footer-icon">
                                        <p><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></p>
                                    </div>
                                </div>
                            </div> .
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/active.js"></script>
</body>

</html>