<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "App_gym/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/style.css" %}">
    <link rel="stylesheet" href="{% static "App_gym/css/responsive.css" %}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <h2><a href="{% url "inicio" %}">Menu </a></h2>
                            
                            {% block titulo %}  

                            {% endblock %}
                        </div>
                    </div>
                    <div class="col-md-10">
                    
                        <div class="menu">
                            <ul>
                                <p> Hola {{ user.username }}
                                <li><a href="{% url "register" %}">registrarse</a></li>
                                <li><a href="{% url "aboutme" %}">Acerca de mi</a></li>
                                
                                {% if user.is_authenticated %}
                                <li><a href="{% url "logout" %}">Cerrar sesion</a></li>
                                <li><a href="{% url "editarPerfil" %}">Editar Perfil</a></li> 
                                
                                {% else %}
                                <li><a href="{% url "login" %}">Iniciar sesion</a></li>
                                {% endif %}
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
       
        <section class="bg-text-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-text">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-post-area">
            <div class="container">
                <div class="row">
                    <div class="blog-post-area-style">
                            <div class="col-md-12">
                                <div class="single-post-big">
                                    <div class="big-image">
                                        {% block img %}<img src="{% static "App_gym/img/blog-2.jpg" %}" alt="">{% endblock %}
                                    </div>
                                    <div class="big-text">
                                        {% block cambia %} 
                                        <h1>Bienvenido a nuestra pagina </h1>
                                        
                                        {{ mensaje }}      
                                        
                                        
                                        
                                   
                                        {% endblock %}
                                            
                                        {% block parrafo %}<p>Ingresa para poder observar todas nuestras sedes y nuestro grupo calificado de Profesores</p>{% endblock %}
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="{% static "App_gym/img/about.jpg" %}" alt="">
                                    <h3><a href="{% url "profesores" %}">Profesores</a></h3>
                                    
                                    <p>Ingresa para poder observar a todos nuestros profesionales especializados en distintas areas del entrenamiento </p>
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="{% static "App_gym/img/gim3.jpg" %}" alt="">
                                    <h3><a href="{% url "gimnasio" %}">Gimnasios</a></h3>
                                    
                                    <p>Ingresa para observar todas nuestras sedes </p>
                                    
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="single-post">
                                    <img src="{% static "App_gym/img/nutri.jpg" %}" alt="">
                                    <h3><a href="{% url "nutricion" %}">Nutricion Deportiva</a></h3>
                                   
                                    <p>Ingresa para poder observar todas las dietas y menus nutricionales para poder comenzar una vida mucho mas sana </p>
                                    
                                </div>
                           
                            </div>
                    </div>
                </div>
            </div>
            <div class="pegination">
                <!--
                <ul>
                    <li><i class="fa fa-angle-left" aria-hidden="true"></i></li>
                    <li class="active">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                </ul>
-->

                
         
</body>

</html>