{% extends "App_gym/inicio.html" %}

{% load static %}  

{% block titulo %}
<h1 class="mb-5"> Nutricion</h1>


{% endblock %}

{% block cambia %}
       
<ul>
    {% for nutricion in nutricion %} 
    <h1>Dietas / Menus </h1>

    <li>{{ nutricion.autor }}:</li> 
    <li>{{ nutricion.titulo }}: {{ nutricion.cuerpo |safe }} </li>
    <img src="{{ nutricion.imagen.url }}" class="img-fluid">
    <li>{{ nutricion.fecha }}</li>
    <a class="btn btn-danger" href="{% url 'eliminarnutri' nutricion.id %}" >borrar</a>
    <a class="btn btn-success" href="{% url 'editarnutri' nutricion.id %}" >editar</a>
    
    
    


   

    {% endfor %}
    {{ mensaje }}
    {% block parrafo %} {% endblock %}
    

</ul>


     







{% endblock %}

{% block img %}<img src="{% static "App_gym/img/nutriform.jpg" %}" alt="">{% endblock %} 