{% extends "App_gym/inicio.html" %}

{% load static %}  

{% block titulo %}
<h1 class="mb-5"> Gimnasios</h1>


{% endblock %}

{% block cambia %}

<ul>
    {% for gimnasio in gimnasio %}

    <h1>Conoce nuestros Gimnasios</h1>

    <li> {{ gimnasio.nombre }} {{ gimnasio.direccion }} {{ gimnasio.email }} </li>

    <a class="btn btn-danger" href="{% url 'eliminarGim' gimnasio.id %}" >borrar</a>
    

    <a class="btn btn-success" href="{% url 'editargimnasio' gimnasio.id %}" >editar</a>
   

    {% endfor %}



</ul>


    








{% endblock %}