{% extends "App_gym/inicio.html" %}

{% load static %}  

{% block titulo %}
<h1 class="mb-5">Nutricion Deportiva</h1>


{% endblock %}

{% block cambia %} 

    <h1>Nutricion Deportiva</h1>
    
    <p>Contamos con un grupo calificado de nutricionistas especializados en deportes de alto rendimiento </p>

    <button onclick="location.href='../nutriform'">Formulario de dietas</button>
    <button onclick="location.href='../leernutricion'">Lista de Dietas</button>

    
    
    {% endblock %}
    {% block img %}<img src="{% static "App_gym/img/nutri.jpg" %}" alt="">{% endblock %}

    {% block parrafo %} Nutricion {% endblock %}






