{% extends "App_gym/inicio.html" %}

{% load static %}  

{% block titulo %}
<h1 class="mb-5">Nutricion Deportiva</h1>


{% endblock %}

{% block cambia %} 

    <h1>Proximamente Nutricion Deportiva</h1>
    
    <p>Proximamente contaremos con un grupo calificado de nutricionistas especializados en deportes de alto rendimiento </p>

    
    
    {% endblock %}
    {% block img %}<img src="{% static "App_gym/img/nutri.jpg" %}" alt="">{% endblock %}

    {% block parrafo %} Nutricion {% endblock %}






